<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet"/>
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet"/>
    <!-- MDB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.0/mdb.min.css" rel="stylesheet"/>
</head>
<body style=" background-image: url(/static/bg2.png)">
<div class="container" style="background-color: white; margin-top: 7%; margin-left: auto;margin-right: auto;width: 90%;border-radius: 10px;padding: 50px">
<form action="/tree" style="display: inline-flex">
  <img src="/static/dog.gif" style="margin-right: 5%">
    <p>
        И так, последняя загадка была разгадана, и мудрое дерево приветствовало моего героя своим древним знанием. Его голос звучал глубоко и мелодично, словно природа сама говорила сквозь него.

Только что вздохнув свежим воздухом свободы, герой заметил неподалеку забавную картину: на носе его верного спутника, собаки по имени Барон, села красочная бабочка. Она качалась там на своих нежных крыльях, словно знала, что в этом мире нет более безопасного места, чем на носу этой доброй собаки.

"Ты достойно прошел все испытания, мой смелый странник," – произнесло мудрое дерево. "Твое сердце наполнилось мудростью и силой. Теперь я открываю тебе путь обратно из мистического леса."

Светлое сияние окутало героя и его преданного спутника. Вместе они стояли перед ярким просветом, открывающимся в зарослях деревьев. Они поняли, что их путешествие подошло к завершению. С благодарностью в сердце, они прошли через открывшийся портал и вернулись на знакомую землю.</p>
</form>
</div>
 <video id="myaudio" controls="" loop="" autoplay="" name="media" preload="auto" hidden>
    <source src="/static/dog.mp3" type="audio/mp3">
  </video>
</body>
<script>
    let audio = document.getElementById("myaudio");
  		audio.volume = 1;
</script>
</html>